@model Tech_In.Models.ViewModels.ArticleViewModels.AddCommentVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="reply-form">
    <h3 class="title">Leave a reply</h3>
    <form id="addcomt">
        <input asp-for="ArticleId" type="hidden" value="@Model.ArticleId" />
        <textarea asp-for="Comment" required maxlength="300" minlength="3" placeholder="Add Your Commment"></textarea>
        <span id="cmterror" class="text-danger col-xs-12"></span>
        <button id="addcmtbtn" type="button" class="main-btn">Submit</button>
    </form>
</div>

<div class="cent" id="loaderDiv">
    <img src="~/images/load.gif" />
</div>
<script>
    $("#addcmtbtn").click(function () {
        $("#loaderDiv").show();
        if ($('#Comment').val().length < 3) {
            $('#cmterror').text('Comment length must be minimum 3 characters');
            $("#loaderDiv").hide();
            return;
        }
        var cmtFormData = $("#addcomt").serialize();
        console.log(cmtFormData);
        $.ajax({
            type: "POST",
            url: "/articles/addcomment",
            data: cmtFormData,
            success: function (response) {
                if (response.success) {
                    $("#comments").fadeOut('slow').load("/articles/comments",
                        { articleId: @Model.ArticleId }).fadeIn('slow');
                    $('#cmterror').text('');
                    $("#loaderDiv").hide();
                    $('#Comment').val(" ");
                } else {
                    $('#cmterror').text('Unable to add comment! Something went wrong!');
                    $("#loaderDiv").hide();
                }
            }
        });

    });
</script>