
@model Tech_In.Models.ViewModels.QuestionViewModels.NewQuestionVM
@{
    ViewData["Title"] = "New";
}

<div class="container">
    <div class="row">
        <form method="post">
            <div class="col-sm-7 col-lg-8">
                <div class="row form-group">
                    <div class="col-xs-2 col-lg-1">
                        <strong>Title:</strong>
                    </div>
                    <div class="col-xs-10 col-lg-11">
                        <input asp-for="Title" type="text" class="fr-form" placeholder="What's your programming question? Be specific." />
                        <span asp-validation-for="Title" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <textarea asp-for="Description" class="fr-form"></textarea>
                    <span asp-validation-for="Description" style="color:red"></span>
                </div>
                <hr />
                <hr />
                <div class="form-group">
                    <strong>Tags </strong>
                    <input name="tags" type="text" class="fr-form" value="css,html,javascript,css" placeholder="atleast one tag, such as 'java', maximum 5." />

                </div>
                <button asp-controller="Question" asp-action="PostQuestion" class="main-btn">Ask a Question</button>
                <br />
            </div>
        </form>

        <!-- Initialize Tagify for both Input and Textaera -->
        <script>
            var input = document.querySelector('input[name=tags]'),
                tagify = new Tagify(input);

            tagify = new Tagify(input, {
                duplicates: true,
                whitelist: ['foo', 'bar'],
                callbacks: {
                    add: onAddTag // calls an imaginary "onAddTag" function when a tag is added
                }
            });

            tagify1.on('remove', () => {
                console.log(e, e.detail);
            });
        </script>

        <div class="col-sm-5 col-lg-4">
            <div class="jumbotron">
                <h5>How to Ask</h5>
                <strong>Is your question about programming?</strong>
                <br />

                We prefer questions that can be answered, not just discussed.
                <br />
                Provide details. Share your research.
            </div>
        </div>
    </div>
</div>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css']
        });
    });
</script>