<div class="post text">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img src="@Model.UserPersonalVM.ProfileImage" class="post-img img-circle" />
        </div>
        <div class="col-xs-10 col-md-11">
            <h6 class="inline small-h">@Model.UserPersonalVM.FullName</h6>
            <br />
            <!--Edit-->
            <div class="right-post-icon-div">
                <div class="round-icon-back">
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
            <!--/Edit-->
            <p class="inline twelve-font">Student at Capital University of Science & Technology</p>
        </div>
        <div class="col-xs-12">
            <hr />
            <p class="black">
                I am sorry if you are seeing it. Please Ignore this message as this module is pending yet and will be done in next semester. have a nice day
            </p>
            <p>7 Likes</p>
            <hr />
            <button class="transparent-btn">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                Like
            </button>
            <button class="transparent-btn">
                <i class="fa fa-comment-o" aria-hidden="true"></i>
                Comment
            </button>
            <button class="transparent-btn">
                <i class="fa fa-share" aria-hidden="true"></i>
                Share
            </button>
        </div>
    </div>
</div>