@model HobbyVM
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<form id="hobbyForm">
    @Html.HiddenFor(m => m.UserHobbyId)
    <!--Name-->
    <div class="form-group">
        <label for="recipient-name" class="control-label">Hobby Name:</label>
        @Html.TextBoxFor(m => m.HobbyOrIntrest, new { @class = "input", @placeholder = "Hobby" })
        @Html.ValidationMessageFor(m => m.HobbyOrIntrest, "", new { @class = "red" })
    </div>
    <!--/Name-->

    <div class="form-group">
        <button id="hobbySubmit" type="button" class="main-btn btn-block">
            @if (Model.UserHobbyId > 0)
            {

                <span>Update</span>
            }
            else
            {

                <span>Save</span>
            }
        </button>
    </div>
    <div class="cent" id="loaderDiv">
        <img src="~/images/load.gif" />
    </div>
</form>
<script>
    $(document).ready(function () {

        //Form Validation
        $('#hobbyForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                HobbyOrIntrest: {
                    validators: {
                        stringLength: {
                            min: 3,
                            max: 20,
                            message: 'Hobby can contain minimum 3 and maximum 20 letters'
                        },
                        regexp: {
                            regexp: /^[a-z\s]+$/i,
                            message: 'Hobby can contains alphabets only.'
                        },
                        notEmpty: {
                            message: 'Hobby is required'
                        }
                    }
                },
            }
        });

      
        //Submit Form
        debugger
        $("#hobbySubmit").click(function () {
            var validator = $('#hobbyForm').data('bootstrapValidator');
            validator.validate();
            if (!(validator.isValid())) {
                return false;
            }
            $("#loaderDiv").show();
            var hobbyFormData = $("#hobbyForm").serialize();
            $.ajax({

                type: "POST",
                url: "/User/UpdateHobby",
                data: hobbyFormData,
                success: function (data) {
                    $("#loaderDiv").hide();
                    $("#myHobby").modal("hide");
                    //alert(JSON.stringify(data.hobbies, undefined,2));
                    window.location.href = "/User/Index";
                },
                error: function (result) {
                    alert("Something went wrong!");
                }
            })

        })

    })</script>
