
@{
    ViewData["Title"] = "Contact";
    Layout = "_AuthIndexLayout";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <br />
            <h2>
                Contact
            </h2>
            <p>

                When you use YouTube, you join a community of people from all over the world. Every cool, new community feature on YouTube involves a certain level of trust. Millions of users respect that trust and we trust you to be responsible too. Following the guidelines below helps to keep YouTube fun and enjoyable for everyone.
                <br /><br />
                You might not like everything you see on YouTube. If you think content is inappropriate, use the flagging feature to submit it for review by our YouTube staff. Our staff carefully reviews flagged content 24 hours a day, 7 days a week to determine whether there’s a violation of our Community Guidelines.
            </p>
            <br /><br /><br /><br /><br />
        </div>
    </div>
</div>